:root {
    --dark: #1F2023;
    --light: #F2F3FA;
    --white: #fff;
    --light-white: #E8E8E8;
    --black: #000;
    --section-gap: 60px;
    --gradient-bg: #2c2f33;
    --hover-blue: #000823;
    --orange : #f24822;
    --primary: #1957F3;
}
.btn-primary{ background-color: var(--primary);}
.btn{ min-width:265px; font-size: 20px; font-weight: 600; padding-top: 14px; padding-bottom: 14px;transition: all .5s ease-in;  border-radius: 12px}
.btn:hover {background: linear-gradient(#f24822); background-color: #f24822; min-width: 280px;transition: all .5s ease-in;border-color: #f24822
}
.btn.btn-sm { min-width: inherit;padding: 5px 16px; font-size: 16px; font-weight: 700;}
.btn-orange{border:2px solid var(--orange); box-shadow: none;color: var(--black);}
.dark .btn-orange{color: var(--white);}
.dark .btn{ box-shadow: 6px 6px 18.670000076293945px 0px rgba(0, 0, 0, 0.7),-6.21999979019165px -6.21999979019165px 18.670000076293945px 0px rgba(59, 68, 81, 0.7); }
select option {
    color: var(--black);
}
.border-white{border-color: var(--white);color: white;}
.dark .border-blue{color: var(--white);}
.dark .form-control{color: var(--white);}
.form-control:not(textarea){height: 44px;padding: 30px;}
.form-control::placeholder{font-size: 18px;font-weight: 400;}
.form-control:focus, .form-check-input:focus{box-shadow: none;outline: none;}
.dark .form-control:focus, .dark .form-check-input:focus{color: var(--white);background-color: transparent;}
section{ padding-top: var(--section-gap); padding-bottom: var(--section-gap); }
footer{ padding-top: var(--section-gap);  }
body{ font-family: 'Poppins', sans-serif; color: var(--light-white);}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6{ color: var(--white);}
h1, h2, h3, h4, h5, h6{font-family: 'Chakra Petch', sans-serif; color: var(--primary);  }

h2{font-size: 64px;font-weight: 700;line-height: 70px;}

body{ font-size: 18px; font-weight: 400; line-height:normal; background-color: var(--light); color:var(--black); }
.logo-light{ display: none;}
.dark{ background-color:var(--dark); color:var(--light-white); }
.dark .logo-dark{ display: none; }
.dark .logo-light{ display: block;}

ul{list-style: none;padding: 0;margin: 0;}
a{text-decoration: none;color: var(--black);}
.dark a{color: var(--white);}
.gradient-border{    
    position: relative;
    background: rgb(226,89,21);
    background: linear-gradient(175deg, rgba(226,89,21,1) 0%, rgba(104,74,98,1) 54%, rgba(42,61,112,1) 100%);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gradient-border:before {
    content: "";
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    position: absolute;
    display: block;
    background-color: var(--white);
    border-radius: 12px;
}
.dark .gradient-border:before{background-color: var(--gradient-bg);}
.dark .content{z-index: 9;color: var(--white);}
.content {
    z-index: 9;
    position: relative;
}
.form-control {
    background-color: transparent;
    display: flex;
    text-align: left;
    z-index: 9;
    border: none;
}
/* Header */
.position-sticky{ top: 0px; z-index: 9999;}
header{background-color: var(--white); position: relative; padding-top: 20px;padding-bottom: 20px;border-bottom: 1px solid rgba(255, 255, 255, 0.20); box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);}
.dark header{ background-color: var(--dark); box-shadow: none;z-index: 99;}
.navigation{display: flex;align-items: center;justify-content: space-between;}
.nav-link ul{display: flex;gap: 64px;}
.main-navigation>li{padding: 16px 0; }
.nav-link ul li{display: block; position: relative;text-align: center;}
.nav-link ul li a{color: var(--black);}
.dark .nav-link ul li a{ color: var(--white); }

.nav-link ul li .subMenu{display: none;transition: .5s; position: absolute;top: 55px;
    border: 1px solid transparent;
    border-image: linear-gradient(175deg, rgba(226,89,21,1) 0%, rgba(104,74,98,1) 54%, rgba(42,61,112,1) 100%);
    border-image-slice: 1;
    border-radius: 12px;background-color: var(--gradient-bg);z-index: 999;min-width: 200px;
}
.nav-link ul li:hover .subMenu{display: block;}
.nav-link ul li .subMenu li a{white-space: nowrap;display: block;margin: 1rem;opacity: .7;font-size: 16px;}
.nav-link ul li .subMenu li a:hover{opacity: 1;}
.nav-button .btn:hover{min-width: 265px;}
.mobile-logo{display: none;}
/* Header */

/*Banner*/
.home {font-size: 20px;font-weight: 400;}
.main_banner{ padding-top: calc(3 * var(--section-gap)); padding-bottom: calc(3 * var(--section-gap)); background-color: var(--white);}
.dark .main_banner{ background-color: var(--dark);}
.main_banner video{ mix-blend-mode: lighten; }
.banner-logo{ display:flex; margin-bottom:2rem; }
.main_banner .container{ position:relative; }
.main_banner .owl-carousel.owl-drag .owl-item img{ border-radius: 6px;}
.animation-line .line{ position:absolute; z-index:9 }
.animation-line .line1{ top:-20%; }
.animation-line .line2{ bottom:-10%; left:30%; }
.animation-line .line3{ top:-40%; right:0%; }
.animation-line .line4{ top:-40%; left:30%; }
.animation-line .line5{ top:80%; right:0%; }
.animation-line .line6{ bottom:-30%; right:10%;}
.dark .logo-dark{display: none;}
.logo-dark{display: block;}
.dark .animation-line .line svg path {fill: #ccc;}
.main_banner .owl-carousel .owl-stage{ display: flex; height: 400px; align-items: center;}
.main_banner .owl-item , .main_banner .item { position: relative; -webkit-transition: all .4s; -moz-transition: all .4s; transition: all .4s; }
.main_banner .item{  opacity: 0.5; }
.main_banner .center .item { transform: scale(2); opacity: 1;}
.main_banner .owl-item.active.center { z-index: 5;}
/*Banner*/

/* Service slider */
.services .owl-carousel .owl-stage{ display: flex;}
.services .owl-carousel .owl-stage .item, .services .owl-carousel .owl-stage .slider-item{ height: 100%; display: flex; flex-wrap: wrap; padding: 2px;}
.services .owl-carousel .owl-stage .slider-item>div{ flex: 0 100%; max-width: 100%;}

.business-value-slider{ margin-top: -140px;}
/*.business-value-slider{ flex-wrap: wrap; height: 100%;} */
/* Service Slider */

/*business-value*/
.business-value{ background: url('../images/gredient.png') top center no-repeat;background-blend-mode: luminosity; ;background-size:contain; padding-top: calc(1 * var(--section-gap)); padding-bottom: calc(1 * var(--section-gap)); }
.business-value h2{font-size: 72px; line-height: 80px; font-weight: 700; margin-bottom: 20px; color: var(--primary);}
.dark .business-value h2{ color: var(--white); }
.business-value .container{ position:relative; }
.business-value .gredient-line .line{ position:absolute; z-index:-1 ;transform: scale(.85);}
.business-value .gredient-line .line1{ top:-12%; left:0%; }
.business-value .gredient-line .line2{ top:40%; left:6%; }
.business-value .gredient-line .line3{ bottom:-10%; left: 20% }
.business-value .gredient-line .line4{ top:-12%; right:5% }
.business-value .gredient-line .line5{ top:50%; right:5% }
.business-value .gredient-line .line6{ bottom:-25%; right:10% }
/*business-value*/

/* services */
.services{ background-color: var(--white);}
.dark .services{ background-color: var(--dark);}

.services .owl-carousel .owl-nav button span {width: 50px;height: 50px;}
.services .owl-carousel .owl-nav span.custom-prev {
    margin-left: -25px;
}
.services .owl-carousel .owl-nav span.custom-next {
    margin-right: 0;
}
.services .owl-carousel .owl-item .content{text-align: left; margin-top: 100px; padding: 30px; }
.services .owl-carousel .owl-item img{z-index: 99;position: relative;border-radius: 10px; height: 300px; object-fit: cover;}
.services .owl-carousel .owl-item .item:hover .business-value-slider:before { background: #fdcaad;}
.dark .services .owl-carousel .owl-item .item:hover .business-value-slider:before { background: var(--hover-blue);}
.business-value-slider.gradient-border:before{background-color: var(--light);}
.dark .business-value-slider.gradient-border:before{background-color: var(--gradient-bg);}

/* services */

/*Case Study*/
.case-study h2 { font-size: 64px; line-height: 70px; font-weight: 700; }
.case-study p { font-size: 24px; line-height: 30px; font-weight: 500; width: 450px}
.case-study span { font-size: 20px; line-height: 26px; font-weight: 400; margin-bottom: 40px; display: flex;}
/*Case Study*/

/*How-Brabo*/
.how-brabo h2 { font-size: 64px; line-height: 70px; font-weight: 700; width: 530px;}
.how-brabo span { font-size: 20px; line-height: 26px; font-weight: 400; margin-bottom: 40px; display: flex;}
.how-brabo .how-brabo-img { border-right: 1px solid #ccc; }
/*How-Brabo*/

/*Unlock Your Data*/
.unlock-your-data{ background-color: var(--white);}
.dark .unlock-your-data{ background-color: var(--dark);}
.unlock-your-data h2 {font-size: 54px; line-height: 94px; font-weight: 600;}
.unlock-your-data p {font-size: 27px; line-height: 40px; font-weight: 500; }
.unlock-your-data .btn { font-size: 16px; font-weight: 600; line-height:10px; padding: 20px 50px;}
.unlock-data-img { margin-top: 60px; padding-bottom: 60px; }
/*Unlock Your Data*/

/*Continuous-Innovation*/
.Continuous-Innovation h2 { font-size: 64px; line-height: 70px; font-weight: 700;}
.Continuous-Innovation p { font-size: 20px; line-height: 26px; font-weight: 400;}
.Continuous-Innovation span { font-size: 20px; line-height: 26px; font-weight: 700; margin-bottom: 40px; display: flex; opacity: 0.9;}
.Continuous-Innovation-img {border-right: 1px solid #ccc;}
.Continuous-Innovation .contant {margin-left: 30px;}
/*Continuous-Innovation*/

/* circle-slider */
.circle-slider.owl-carousel .owl-stage{ display: flex; flex-wrap: wrap; height: 100%;}
.circle-slider.owl-carousel .owl-stage-outer, .circle-slider.owl-carousel .owl-item{ height: 100%;}
.circle-slider.owl-carousel { transform: rotate(-90deg); width: 100%; height: 800px; padding: 0 150px; }
.circle-slider .item { transform: rotate(90deg); }
.circle-slider.owl-carousel .owl-item img{ width: auto;}
.animate-circle{ display: flex; width: 500px; transform: translateX(130px);}
.circle-slider .owl-item.active{ height: 150px !important; }
.center .animate-circle{ transform: translateX(200px);}
.animate-circle figure{ flex: 0 100px; max-width: 100px; height: 100px;  margin-bottom: 0px; margin-right: 20px; overflow: hidden;}
.animate-circle figure:before{ content: ""; width: 100px; height: 100px; display: flex; background-color: #CCD2EB; border-radius: 50%; position: absolute; z-index: 1; opacity: 0.45;}
.animate-circle figure img{ border-radius: 50%; border:2px solid var(--white); width: 70px !important; height: 70px; position: relative; z-index: 2; margin: 15px; }
.animate-circle figcaption{ flex: 1;}
.animate-circle figcaption p{ display: none;}
.circle-slider .center .animate-circle figcaption p{ display: block;}

.center .animate-circle:after{ content: ""; width: 20px; height: 20px; border-radius: 50%; display: flex; background-color: var(--primary); position: absolute; left: -63px; top: 50%; transform: translateY(-50%); }

.main-circle-slider{ position: relative;}
.circle-slider-graphic{ position: absolute; width: 300px; height: 300px; display: flex; border-radius: 50%; border: 2px solid #F86806; left: -20%; top: 50%; transform: translateY(-50%);}
.circle-slider-graphic:after{ content: ""; width: 400px; height: 400px; display: flex; border-radius: 50%; border: 4px dotted #3F3F40; position: absolute; top: 50%; transform: translateY(-50%); left: -15%;}
/* circle-slider */

/*Platform-Affordability*/
.Platform-Affordability{ background:url(../images/gredient.png) center center no-repeat var(--white); background-size:contain; padding-top: calc(2 * var(--section-gap)); padding-bottom: calc(2 * var(--section-gap)); }
.dark .Platform-Affordability{background-color: var(--dark);}
.Platform-Affordability h2{font-size: 64px; line-height: 70px; font-weight: 700; margin-bottom: 20px}
.Platform-Affordability p{font-size: 20px; line-height: 32px; font-weight: 500; width: 671px;z-index: 9;position: relative;}
.Platform-Affordability .container{ position:relative; }
.Platform-Affordability .gredient-line .line{ position:absolute; z-index:0; }
.Platform-Affordability .gredient-line .line1{ top:-18%; left:0%; }
.Platform-Affordability .gredient-line .line2{ top:60%; left:0%; }
.Platform-Affordability .gredient-line .line3{ bottom:-28%; left: 15%; }
.Platform-Affordability .gredient-line .line4{ top:-20%; right:0% }
.Platform-Affordability .gredient-line .line5{ top:55%; right:0%; }
.Platform-Affordability .gredient-line .line6{ bottom:-32%; right:0%; }
.Platform-Affordability .gredient-line svg path {fill: #ccc;}
/*Platform-Affordability*/

/*help-us*/
.help-us h2{font-size: 42px; line-height: 32px; font-weight: 500;}
.help-us a {  text-align: center;padding: 14px;font-weight: 500;color: var(--black);margin-top: 1px;}
.dark .help-us a{color: var(--white);}
.help-us .gradient-border:hover{background: linear-gradient(175deg, rgba(42,61,112,1) 0%, rgba(104,74,98,1) 54%, rgba(226,89,21,1) 100%);}
.help-us .box { padding: 10px 40px; }
.help-us .box-center { border-right: 1px solid #ccc; border-left: 1px solid #D1D1D1; }
.help-us p { font-size: 18px; line-height: 24px; font-weight: 500;  text-align: left; margin-bottom: 0px; }
.follow-us-linkedin .owl-dots { display: none;}
/*help-us*/

/*Stay-connected*/
.Stay-connected{ background-color: var(--white);}
.dark .Stay-connected{ background-color: var(--dark);}
.Stay-connected h2{ font-size: 42px; line-height: 55px; font-weight: 500;}
.Stay-connected p{ font-size: 24px; line-height: 36px; font-weight: 500; margin-bottom: 0; }
.Stay-connected span { font-size: 20px; line-height: 26px; font-weight: 400; }
.stay-connected .Email-field { padding-left: 40px; padding-right: 40px; }
/* .Stay-connected .gradient-border { text-decoration: none; position: relative; background: rgb(226,89,21);background: linear-gradient(175deg, rgba(226,89,21,1) 0%, rgba(104,74,98,1) 54%, rgba(42,61,112,1) 100%); border-radius: 12px; color: #fff; font-size: 16px; font-weight: 500px; display: flex; justify-content: center; align-items: center; padding: 16px;} */
/* .Stay-connected .gradient-border:before { content:""; width: calc(100% - 2px); height: calc(100% - 2px); top: 1px; left: 1px; right: 1px; bottom: 1px; position: absolute; display: block; background-color: #2C2F33; border-radius: 12px;} */
.Stay-connected .form-control {  background-color: transparent; display: flex; text-align: left; z-index:9; border: none; height: 59px; margin-right: 10px; }
/* .form-control::placeholder {  font-size: 18px; font-weight: 400; } */
.Stay-connected label {font-size: 18px; line-height: 26px; font-weight: 400; }
.Stay-connected .form-check a { }
.dark .form-check input { background-color: transparent; }
.Stay-connected button { z-index: 9; }
/*Stay-connected*/

/*help-us*/
.follow-us-linkedin h2{font-size: 42px; line-height: 32px; font-weight: 500;}
.follow-us-linkedin .heading{font-size: 27px;  font-weight: 700;  }
.linkedin-box.gradient-border:before { background-color: var(--light);}
.dark .linkedin-box.gradient-border:before { background-color: var(--gradient-bg);}
.follow-us-linkedin .linkedin-box .inner-top{font-size: 18px;transition: .5s;  font-weight: 400;padding: 40px; }
.follow-us-linkedin .linkedin-box .inner-bottom{font-size: 18px;transition: .5s;  font-weight: 400; padding: 30px; }
.dark .follow-us-linkedin .linkedin-box .inner-bottom{ }
.follow-us-linkedin .linkedin-box .content { z-index: 9; position: relative;  }
.follow-us-linkedin .linkedin-box:hover  .inner-top{ padding: 20px 20px 40px 20px;transition: .5s;margin-bottom: 10px;}
.follow-us-linkedin .linkedin-box .box-img{transition: .5s;}
.follow-us-linkedin .linkedin-box:hover .box-img img{transform: scaleY(1.1);margin-bottom: 10px;transition: .5s;}
.owl-carousel .owl-nav {position: absolute;top: 50%;transform: translateY(-50%);display: flex;
    justify-content: space-between;width: 100%;}
.owl-carousel .owl-nav button span{background-color: var(--light);border-radius: 50%;
border: none;width: 80px;height: 80px;font-size: 30px;display: flex;align-items: center;justify-content: center;
box-shadow: 0px 0px 10px #ccc;}
.dark .owl-carousel .owl-nav button span{background-color: var(--gradient-bg);color: var(--white);}
.owl-carousel .owl-nav button:hover{background-color: transparent;color: var(--black) !important;}
.dark .owl-carousel .owl-nav button:hover{color: var(--white);}
.owl-carousel .owl-nav button:hover{background-color: transparent !important;}
.owl-carousel .owl-nav span.custom-prev {
    margin-left: -40px;
}
.owl-carousel .owl-nav span.custom-next {
    margin-right: -40px;
}
/*help us*/

/*Footer*/
footer p { font-size: 18px; font-weight: 700; }
/* footer .gradient-border { text-decoration: none; position: relative; background: rgb(226,89,21);background: linear-gradient(175deg, rgba(226,89,21,1) 0%, rgba(104,74,98,1) 54%, rgba(42,61,112,1) 100%); border-radius: 12px; color: #fff; font-size: 16px; font-weight: 500px; display: flex; justify-content: center; align-items: center; padding: 8px; box-shadow: 6px 6px 18.670000076293945px 0px rgba(0, 0, 0, 0.7),-6.21999979019165px -6.21999979019165px 18.670000076293945px 0px rgba(59, 68, 81, 0.7);} */
/* footer .gradient-border:before { content:""; width: calc(100% - 2px); height: calc(100% - 2px); top: 1px; left: 1px; right: 1px; bottom: 1px; position: absolute; display: block; background-color: #2C2F33; border-radius: 12px;} */
footer .gradient-border:before :hover {background-color: #1f2023}
footer .form-control {  background-color: transparent; display: flex; text-align: left; z-index:9; border: none; height: 44px; margin-right: 10px;font-size: 14px; padding: 20px;}
footer .form-control::placeholder {  font-size: 14px;}
.dark footer .form-control::placeholder {color: #fff;}
footer .links {display: flex; justify-content: space-between; gap: 15px;}
footer .links ul {margin: 0; padding: 0;}
footer .links ul li {list-style: none; margin-bottom: 15px;}
footer .links ul li a{ text-decoration: none; color: #535353; font-size: 14px; font-weight: 400;}
.dark footer .links ul li a{ color: #c7c7c8; }
.footer-bottom p{font-weight: 400;margin-bottom: .5rem;}
.footer-bottom {  padding: 6rem 0 3rem;align-items: center;}
.social-media {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.social-media li a:hover svg{
    position: relative;
    background: rgb(226,89,21);
    background: linear-gradient(175deg, rgba(226,89,21,1) 0%, rgba(104,74,98,1) 54%, rgba(42,61,112,1) 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.social-media li a:hover svg:before {
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    position: absolute;
    display: block;
    background-color: var(--gradient-bg);
    border-radius: 12px;
    z-index: 99999;
}
.footer-bottom ul {display: flex;gap: 20px;}
.footer-bottom ul li a{color: var(--dark);display: block;font-size: 16px;}
.dark .footer-bottom ul li a{color: var(--white);}
.mobile-logo{display: none;}
/*Footer*/

/***************************************************Company Page css****************************************/
/*banner*/
.dark .banner-2 {background: #131313; background-blend-mode:luminosity ;
    -ms-transition: all 10s ease;
    -webkit-transition: all 10s ease;
    -moz-transition: all 10s ease;
    -o-transition: all 10s ease;
    transition: all 10s ease;
}
.banner-2:hover {
    /* img zoom in on hover (x, y): */
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1); 
    transform: scale(1.1, 1.1);
  }
.banner-2:after {content:""; width: 100%; height: 100%; top:0; left:0; position: absolute; background-color: #131313; opacity: 50%;}
.banner-2 .content { z-index: 9; }
.banner-2 p{color: #E8E8E8;}
/* .banner-2 .btn-border { border: 1px solid #fff; background-color: transparent; color: #fff; } */
/*banner*/

/*Powerful-Allies*/
.Powerful-Allies h2{font-size: 42px; line-height: 56px; font-weight: 600;}
.Powerful-Allies h6{font-size: 27px; line-height: 45px; font-weight: 500;}
/* .Powerful-Allies p {font-size: 18px; line-height: 27px; font-weight: 400; } */
/* .Powerful-Allies .btn-border {border: 1px solid #1957F3; background-color: transparent; color: #fff;} */
/* .Powerful-Allies .btn-border:hover {border: 1px solid #1957F3; background-color: #1957F3; color: #fff;} */
/*Powerful-Allies*/

/*our people*/
/* .our-people h2{font-size: 64px; font-weight: 700;} */
.our-people .sub-heading{font-size: 27px; font-weight: 500;}
/* .our-people p{font-size: 18px; font-weight: 400; line-height: 27px; } */
/* .our-people .btn-border {border: 1px solid #1957F3; background-color: transparent; color: #1957F3;} */
/* .our-people .btn-border:hover {border: 1px solid #1957F3; background-color: #1957F3; color: #fff;} */
.our-people .our-people-img { text-align: right; }
/*our people*/

/*what-you-need*/
.what-you-need {background-image:url(../images/what-you-need-light.png); background-size: cover; background-position: center center; background-repeat: no-repeat; position: relative;}
.dark .what-you-need {background-image:url(../images/what-you-need-bg.png);background-color: #131313;background-blend-mode:luminosity ;}
.dark .what-you-need:after {content:""; width: 100%; height: 100%; top:0; left:0; position: absolute; background-color: #212121; opacity: 50%;}
.what-you-need .content { z-index: 9; position: relative;}
.what-you-need h2 {font-size: 42px; line-height: 56px; font-weight: 600;}
.what-you-need .sub-heading {font-size: 27px; font-weight: 500;}
/* .what-you-need p {font-size: 18px; font-weight: 400; line-height: 27px;} */
.what-you-need .orange-text {font-size: 18px; font-weight: 700; line-height: 27px; color: var(--primary);}
.dark .what-you-need .orange-text{color: #FF5C00;}
/*what-you-need*/
/********************************************Company Page css***********************************************/


/******************************************sustainabilit-application-page-css*************************************/
/*banner*/
/* .sustainabilit-application-banner { background-image:url(../images/Sustainability-App-bg.png); background-size: cover; background-repeat: no-repeat; position: relative; } */
.sustainabilit-application-banner:after {content:""; width: 100%; height: 100%; top:0; left:0; position: absolute; background-color: #131313; opacity: 50%;}
.sustainabilit-application-banner .content { z-index: 9; }
.sustainabilit-application-banner h2{font-size: 48px; font-weight: 700; color: var(--orange) !important;}
.sustainabilit-application-banner p{ font-size: 48px; font-weight: 500;line-height: normal;color: var(--white);}
.sustainabilit-application-banner .text-light{ font-size: 24px; font-weight: 400;opacity: .8;}
/*bannar*/

/*brabo sustainabilit application*/
.brabo-sustainabilit-applications h2 { font-size: 42px; font-weight: 600;margin-bottom: 2rem; }
/* .brabo-sustainabilit-applications p { font-size: 18px; font-weight: 400; line-height: 27px; } */
.services-content .content img{width: 100%;height: auto;margin-top: 4rem;}
/*brabo sustainabilit application*/

/*Key-benefits*/
.Key-benefits .benefits-box { padding: 1.5rem; height: 100%;margin-top: 1px;}
.dark .Key-benefits .benefits-box{box-shadow: 6px 6px 18.67px 0px rgba(0, 0, 0, 0.70), -6.22px -6.22px 18.67px 0px rgba(59, 68, 81, 0.70);}
.Key-benefits .heading {  font-size: 27px; font-weight: 500; position: relative; }
.Key-benefits .heading:after {content: ""; width: 10%; height: 20%; bottom: -15px; left: 50%; position: absolute; background-color: #2F54EB; border-radius: 10px; transform: translateX(-50%);}
/* .Key-benefits p {font-size: 18px; font-weight: 400; line-height: 22px; } */
/*Key-benefits*/
/**************************************sustainabilit-application-page-css************************************/

/***************************************schedule_demo_page css**********************************/
/*banner*/
/* .Schedule-Demo h2{font-size: 64px; font-weight: 700;} */
.Schedule-Demo .sub-heading{font-size: 27px; font-weight: 500;}
.Schedule-Demo p{font-size: 18px; font-weight: 400; line-height: 27px; opacity: .75;}
.Schedule-Demo-img { text-align: right; }
/*banner*/  
/*give-live-demo*/
.give-live-demo h2 { font-size: 42px; font-weight: 600; }
.dark .gradient-border input.form-control{ background-color: transparent; border:none; z-index: 9; position: relative; }
.dark .gradient-border input::placeholder { color: #969696; }
.dark .gradient-border textarea{ background-color: transparent; border:none; z-index: 9; position: relative; padding: 30px; }
.dark .gradient-border textarea::placeholder { color: #969696; }
.give-live-demo .form-check label{ font-size: 18px; font-weight: 400; line-height: 28px; } 
.give-live-demo .form-check a { opacity: .7;} 
.give-live-demo .submit-button { margin-top: 100px; text-align: center;}
/*give-live-demo*/
/********************************************schedule_demo_page css******************************************/

/********************************************partner page css******************************************/
/*banner*/
.Become-Partner h2 {  color: #1957F3; position: relative;}
.Become-Partner h2:before {content: "BECOME A PARTNER"; width: 100%; height: 100%; top: 0; left: 0;  position: absolute; z-index: -1; color: rgba(173, 173, 173, 0.04); text-align: center; font-family: Inter; font-size: 86px; font-style: normal; font-weight: 900;
line-height: normal;letter-spacing: 17.2px;}
/* .Become-Partner .text-light { font-size: 18px; font-weight: 400; line-height: 27px; color: #E8E8E8; } */
.Become-Partner .text-hard { font-size: 27px; font-weight: 600; line-height: 35px; }
/*banner*/

/*partners*/
.partners .partners-box { padding: 50px 60px; }
.partners .heading {  font-size: 27px; font-weight: 500; line-height: normal;}
/* .partners p {font-size: 17px; font-weight: 400; line-height: 22px; color: #E8E8E8; } */
.Personal-Detail h2 { font-size: 42px; font-weight: 600; }
.Personal-Detail .form-check label{ font-size: 18px; font-weight: 400; line-height: 28px; } 
.Personal-Detail .submit-button { margin-top: 100px; text-align: center;}
.Company-Detail h2 { font-size: 42px; font-weight: 600; }
.Company-Detail .form-check label{ font-size: 18px; font-weight: 400; line-height: 28px;  } 
.Company-Detail .form-check a , .Personal-Detail .form-check a{ text-decoration: underline;} 
.Company-Detail .submit-button { margin-top: 100px; text-align: center;}
/*partners*/

/********************************************partner page css******************************************/

/********************************************profiles page css******************************************/
.profile .profile-box { padding: 15px 15px 30px 15px; }
.profile .profile-box.gradient-border{align-items: flex-start;}
.profile .heading {  font-size: 20px; font-weight: 700; line-height: 30px; color: #F86806; margin-bottom: 8px; }
/* .profile p {font-size: 18px; font-weight: 400; line-height: 27px;  } */
.profile a {text-decoration: none; font-size: 18px; font-weight: 500; line-height: 27px; color: #2F54EB; }
.load-icon {
    width: 40px;
    height: 40px;
    justify-content: center;
    margin: auto;
    border-radius: 50%;margin-top: 20px;
}
.load-icon::before {
    border-radius: 50%;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    top: 2px;
    left: 2px;
}
.teams-modal .modal-content {
    border-radius: 12px;padding: 1rem;
    border: 1px solid #FF5C00;
    background-color: var(--light);
    box-shadow: 6px 6px 18.67px 0px rgba(0, 0, 0, 0.70), -6.22px -6.22px 18.67px 0px rgba(59, 68, 81, 0.70);
}
.dark .teams-modal .modal-content{background: #1F2023;}
.teams-modal .modal-header{border-bottom: none;padding: 0;}
.team-popup{display: flex;flex-wrap: wrap;}
.team-popup figure { flex: 0 280px; max-width: 280px;}
.team-popup figcaption{flex: 1;}
.team-popup figcaption h4{color: var(--orange);}
.team-popup figcaption div {color: #838383;}
.social-popup {  display: flex;justify-content: flex-end ;color: var(--bs-primary) !important;  font-size: 30px;}
.btn-close{background-color: var(--orange);border: 1px solid var(--primary);border-radius: 50%;width: 25px;height: 25px;
position: absolute;right: 20px; top: 20px;--bs-btn-close-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e);
opacity: 1;z-index: 9;}
.modal-backdrop{background-color: rgb(31 32 35 / 60%);}
.load-more-btn{background-color: transparent;border: none;color: var(--primary);}
/********************************************profiles page css******************************************/

/* Privacy policy */
/* .policy-pages{background-image: url(../images/Sustainability-App-bg.png);position: relative;background-size: cover;background-repeat: no-repeat;} */
.policy-pages:after{content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #131313;
    opacity: 50%;}
.policy-pages .container{z-index: 9;position: relative;}   
.policy-pages-content h2{font-size: 42px;} 
.policy-pages h2{color: var(--white);}
/* .policy-pages-content p{font-size: 18px;line-height: 1.6;} */
/* Privacy policy */


/********************************************Resources page css******************************************/
/*banner*/
.Knowledge-Hub-banner { background-image:url(../images/Knowledge-Hub-bg.png); background-size: cover; background-repeat: no-repeat; position: relative; }
.Knowledge-Hub-banner:after {content:""; width: 100%; height: 100%; top:0; left:0; position: absolute; background-color: #131313; opacity: 50%;}
.Knowledge-Hub-banner .content { z-index: 9; }
.Knowledge-Hub-banner h2{font-size: 64px; font-weight: 700; color: #fff;}
.Knowledge-Hub-banner p{ font-size: 24px; font-weight:400; line-height: 36px; color: #fff;}
.Knowledge-Hub-banner .text-light{ font-size: 24px; font-weight: 400;color: #E8E8E8;}
/*bannar*/

/*Filter By*/
.filter-by h2 { font-size: 42px; font-weight: 600;  }
.filter-by select {background-color: transparent; font-size: 18px; font-weight: 400; padding: 18px 30px; outline: none; border: none;}
.dark .filter-by input::placeholder { color: #fff; }
.sort-by { margin-top: 50px;display: flex;flex-wrap: wrap;gap:10px}
.sort-by h4 {font-size: 20px; font-weight: 600; margin-bottom: 0;}
.sort-by-button { padding: 8px 30px; font-size: 16px; font-weight: 400; min-width: auto; }
/*Filter By*/

/*blog*/
.our-Blog .Blog-box {margin-bottom: 80px;}
.our-Blog .Blog-box .content{text-align: left;margin-top: 100px;padding: 30px;}
.our-Blog .Blog-box .gradient-border{margin-top: -120px;}
.our-Blog .Blog-box img{z-index: 99;position: relative;}
.our-Blog .Blog-box figure img{filter: invert(1);}
.dark .our-Blog .Blog-box figure img{filter: inherit;}
.our-Blog .Blog-box a:hover .gradient-border:before { background: var(--hover-blue);}
.our-Blog .Blog-box h3{font-size: 24px; font-weight: 600; margin-left: 10px; margin-bottom: 0;}
.our-Blog .Blog-box .sub-heading{font-size: 18px; font-weight: 500;}
.our-Blog .Blog-box .text-light{font-size: 16px;  }
.our-Blog .Blog-box .share-time{ justify-content: space-between; }
.our-Blog .Blog-box .between{ align-items: baseline;}
.our-Blog .Blog-box .share-text { font-size: 15px; font-weight: 400; line-height: 26px; margin-bottom: 0; }
.our-Blog .Blog-box .share-time span { font-size: 13px; font-weight: 400; line-height: 26px; }
.our-Blog .Blog-box .button-share{ justify-content: space-between; }
.our-Blog .Blog-box .button-share a{ font-size: 16px; font-weight: 700; }
.our-Blog .gradient-border{ padding-top: 10px; }
.blog {display: grid;grid-template-columns: repeat(2, 1fr); gap: 40px;}
/*blog*/

/*recent post*/
.our-Blog .recent{padding-right: 0; padding-left: 30px;}
.our-Blog .recent-post { padding: 50px; justify-content: flex-start;}
.our-Blog .recent-post h4 {font-size: 32px; font-weight: 600; }
/* .our-Blog .recent-post p {font-size: 17px; font-weight: 400; line-height: 26px;} */
.our-Blog .recent-post ul {margin: 0; padding: 0;}
.our-Blog .recent-post ul li {list-style: none; }
.our-Blog .recent-post ul li a{text-decoration: none; font-size: 17px; font-weight: 400; }
.our-Blog .search-field .gradient-border { padding-top: 0;}
.our-Blog .View-all-button .view-button { padding: 20px 400px;margin-top: 1.5rem;}
/*recent post*/
/********************************************Resources page css******************************************/

/********************************************View Resources page css******************************************/
/*View Resources banner*/
.View-Resources-banner h2 { font-size: 42px; font-weight: 600; }
.View-Resources-banner p { font-size: 18px; font-weight: 400; line-height: 28px; }
/*View Resources banner*/

/*Blog view*/
.Blog-view .blog-view-img { margin-bottom: 60px; }
.Blog-view .blog-view-text { margin-bottom: 50px; }
/* .Blog-view .blog-view-text p{ font-size: 18px; font-weight: 400; line-height: 28px;} */
.Blog-view .stay-Connected { padding:60px 40px;}
.Blog-view .stay-Connected h2 {font-size: 32px; font-weight:400;}
.Blog-view .stay-Connected p {font-size: 20px; font-weight: 500;}
.Blog-view .stay-Connected span {font-size: 16px; font-weight: 400;}
.Blog-view .stay-Connected .Email-field .gradient-border { box-shadow: none; padding: 10px;}
.Blog-view .stay-Connected .Email-field input { padding: 10px 20px; }
.Blog-view .stay-Connected .Email-field .btn {z-index: 99; min-width:180px; font-size: 18px; }
.Blog-view .stay-Connected .form-check input { padding: 0; border: 1px solid #A7A7A7;}
.Blog-view .stay-Connected .form-check label { opacity: .7;font-size: 16px;line-height: 27px;}
.Blog-view .stay-Connected .form-check label a {text-decoration: underline; }
/*Blog view*/

/*Blog links*/
.blog-links h5 {font-size: 28px; font-weight: 600; margin-bottom: 20px;}
.blog-links p a {text-decoration: none; font-size: 18px; font-weight: 500; }
.blog-links ul {display: flex; margin: 0; padding: 0;gap:10px;}
.blog-links ul li {list-style: none; background-color: var(--black); width: 40px;
    font-size: 20px;
    height: 40px; border-radius: 50px; justify-content: center; align-items: center; display: flex;}
.blog-links ul li a {color: var(--white);}
/*Blog links*/

/*Blog-about-author*/
.Blog-about-author { display: flex;gap: 30px;}
.Blog-about-author figure { background-color: #D9D9D9;; width: 150px; height: 150px; border-radius: 50%; justify-content: center; align-items: center; display: flex;overflow: hidden;}
.Blog-about-author figure img{width: 150px;height: 150px;}
.Blog-about-author figcaption  {flex: 1;}
.blog-post{display: flex;}
.aside { flex: 0 550px;  max-width: 550px;}
.article { flex: 1;}
/*Blog-about-author*/
/********************************************View Resources page css******************************************/

/********************************************Career page css******************************************/
/*career-banner*/
.Career-banner .sub-heading {font-size: 27px; font-weight: 500;}
/* .Career-banner h1 {color: #E8E8E8; font-size: 72px; font-weight: 700;} */
/* .Career-banner .text-light {color: #E8E8E8; font-size: 18px; font-weight: 400;} */
.Career-banner .internship-text { font-size: 27px; font-weight: 500;}
/*career-banner*/

/*career Key-benefits*/
.career .heading:after {width: 20%; bottom: -20px;}
/*career Key-benefits*/

/*Core Values*/
.core-values .heading {font-size: 54px; font-weight: 600; position: relative; margin-bottom: 120px;} 
.core-values .heading:before {content:"CORE"; left: 50%;transform: translateX(-50%) ;position: absolute; z-index: -1; color: rgba(173, 173, 173, 0.04); text-align: center; font-size: 125px; font-weight: 900; letter-spacing: 125px; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #373737; }
.core-values .text-hard { font-size: 27px; font-weight: 500;}
/* .core-values .text-light {color: #E8E8E8 !important; font-size: 17px; font-weight: 400; line-height: 26px; width: 70%;} */
/*Core Values*/

/*Career opportunities*/
.Career-opportunities .career-heading {margin-bottom: 80px;}
.Career-opportunities h3 {font-size: 42px; font-weight: 600;}
.Career-opportunities .career-sub-heading { font-size: 27px; font-weight: 500;}
/* .Career-opportunities .career-sidebar .gradient-border {height: 1000px;} */
/* .Career-opportunities .career-sidebar {margin-left: -20px;} */
.sidebar-heading { z-index: 99; position: relative; font-size: 27px; font-weight: 500; padding: 4rem 3rem;}
/* .Career-opportunities .career-sidebar .content {padding: 50px 100px;} */
.Career-opportunities .Career-box .gradient-border {margin-top: 0;}
.Career-opportunities .Career-box .content {margin-top: 0; padding: 30px;width: 100%;}
.Career-opportunities .Career-box .main-heading {display: flex; justify-content: space-between;}
.Career-opportunities .Career-box .main-heading p{font-size: 27px; font-weight: 500; margin-bottom: 5px;}
.Career-opportunities .Career-box .main-heading .location p{font-size: 18px; font-weight: 500;}
.career-sidebar { flex: 0 400px; max-width: 400px;padding: 0;position: sticky;top:110px;height: 100vh;}

.Career-opportunities .Career-box .main-heading a{text-decoration: none;}
.Career-opportunities .Career-box .apply-button a{text-decoration: none;}
.career-sidebar .accordion-item{border:none; background-color: transparent;  font-size: 18px; font-weight: 400;}

.career-sidebar .accordion-button:not(.collapsed) { background-color: transparent; border-bottom: 3px solid var(--bg-grey); box-shadow: none; font-size: 18px; font-weight: 700;}
.career-sidebar .accordion-button {border-top: 3px solid var(--bg-grey); padding-left: 0; padding-right: 0; font-size: 18px; font-weight: 400; background-color: transparent; line-height: normal;padding: 0;}
.career-sidebar .accordion-item:first-of-type .accordion-button {border-top-left-radius: 0; border-top-right-radius: 0;}
.career-sidebar .accordion-item {border-top: 1px solid #282828;padding: 3rem;}
.dark .career-sidebar .accordion-item{border-top: 1px solid #f9f9f96e;border-radius: 0;}
.dark .career-sidebar .accordion-item, .dark .career-sidebar .accordion-button:not(.collapsed),
.dark .career-sidebar .accordion-button{color: #fff;}
.career-sidebar input {border: 1px solid #E8E8E8; padding: 0; background-color: transparent; z-index: 999; position: absolute;}
.career-sidebar .accordion-item:last-of-type .accordion-button.collapsed {background-color: transparent; color: #fff;}
.career-sidebar .accordion-button:focus { border-color: none; box-shadow: none; }
/*Career opportunities*/
/********************************************Career page css******************************************/


/*platform*/
.Platform-banner h1 {font-size: 64px; font-weight: 700;}
.Platform-banner p {font-size: 18px; font-weight: 600;}
.Platform-banner .slim-text {font-size: 18px; font-weight: 400;}
.Platform-tabs .heading p {font-size: 24px; font-weight: 500;}
.Platform-tabs .nav-tabs{border-bottom: none;}
.Platform-tabs .nav-tabs .nav-link.active, .nav-tabs .show>.nav-link {background-color: transparent;border: none ;border-bottom: 2px solid #000; border-radius: 0px;}
.dark .Platform-tabs .nav-tabs .nav-link.active, .nav-tabs .show>.nav-link{border-bottom: 2px solid #d9d9d9;}
.dark .Platform-tabs .nav-tabs .nav-link.active {color: var(--white);}
.Platform-tabs .tab-pane { font-size: 18px; font-weight: 400; letter-spacing: 0.72px;}
.Platform-tabs li.nav-item {flex: 1;}
.Platform-tabs li.small-nav {flex: 0 25%; max-width: 25%;} 
.Platform-tabs li+li{margin-left: 2rem;}
.Platform-tabs .nav-link { width: 100% ; border: none;border-bottom: 2px solid #d0cfcf; border-radius: 0px; 
    padding: 0; padding-bottom: 10px; font-size: 20px; font-weight: 400;text-align: left;color: #818181;}
.dark .Platform-tabs .nav-link{border-bottom: 2px solid #818181}
.Platform-tabs .nav-tabs .nav-link:hover { border: none;border-bottom: 2px solid #000;}
.dark .Platform-tabs .nav-tabs .nav-link:hover {border-bottom: 2px solid #fff;}
.Platform-tabs ul#pills-tab { gap:60px; }
.Platform-works h2 {font-size: 64px; font-weight: 700;}
.Platform-works p {font-size: 18px; font-weight: 400; letter-spacing: 0.72px;}
.dark-platform-img{display: none !important;}
.light-platform-img{display: block !important;}
.dark .dark-platform-img{display: block !important;}
.dark .light-platform-img{display: none !important;}
/*platform*/

.hide-button{ display: none;}

/* Responsive Start */
@media (max-width:1680px){
    .container { max-width: inherit;  width: 96%; }
    .h3, h3 { font-size: 1.5rem; }
    .business-value, .Platform-Affordability{ padding-top: var(--section-gap); padding-bottom: var(--section-gap); }
    .business-value .owl-carousel{ padding-top: var(--section-gap); }
    h2, .how-brabo h2, .case-study h2, .Continuous-Innovation h2{ width: auto; font-size: 40px;  line-height: normal;}
}

@media (max-width:1440px){
    
}

@media (max-width:1366px){
    .Platform-Affordability p, .Continuous-Innovation p, .Continuous-Innovation span{ width: auto;}
    .Schedule-Demo .sub-heading{font-size: 22px;}
    .our-Blog .View-all-button .view-button{padding: 10px;}
    /* .circle-slider-graphic:after{width: 330px;height: 330px;}
    .circle-slider-graphic{width: 250px;height: 250px;} */
    /* .center .animate-circle:after{left:-68px} */
}

@media (max-width:1280px){
    p{line-height: normal;}
    .banner-logo img{  width: 250px;}
    .main_banner{ padding-top: var(--section-gap);}
    .btn{ min-width: 180px;  font-size: 16px; padding-top: 8px; padding-bottom: 8px;}
    .business-value h2{ font-size: 50px;  line-height: normal;}
    .business-value .owl-carousel .owl-item img{ padding: 15px 15px 0 15px; height: 200px;}
    .business-value .owl-carousel .owl-item .content{ padding: 15px;}
    p{ font-size: 16px;}
    .business-value .gredient-line .line, .animation-line .line, .Platform-Affordability .gredient-line .line{ transform: scale(0.5);}
    h2, .how-brabo h2, .case-study h2, .Continuous-Innovation h2, .Powerful-Allies h2, .what-you-need h2, .View-Resources-banner h2
    { font-size: 32px;line-height: normal;}
    .help-us .box{ padding-left: 10px; padding-right: 10px;}
    .help-us a{ font-size: 16px;}
    .help-us h2{ line-height: normal;}
    footer .links{ flex-wrap: wrap;}
    .owl-carousel .owl-nav button span{ width: 40px; height: 40px; font-size: 16px;}
     .owl-carousel .owl-nav span.custom-prev{ margin-left: -20px;}
     .owl-carousel .owl-nav span.custom-next{  margin-right: -20px;}
    .Schedule-Demo .sub-heading { font-size: 20px; }
    .sustainabilit-application-banner p{font-size: 34px;}
    .Key-benefits .benefits-box{padding: 30px 20px;}
    .what-you-need .sub-heading{font-size: 24px;}
    .Knowledge-Hub-banner p{font-size: 20px;line-height: normal;}
    .our-Blog .Blog-box .content, .our-Blog .recent-post{padding: 20px;}
    .Blog-img {padding: 0 15px; }
    .Blog-view .stay-Connected{padding: 20px;}
    .Blog-view .stay-Connected h2{font-size: 22px;}
    .Blog-view .stay-Connected p{font-size: 18px;}
    .Blog-view .stay-Connected .Email-field .btn{min-width: inherit;font-size: 12px;}
    .Blog-view .stay-Connected .Email-field input {padding: 0;height: auto;}
    .Blog-view .stay-Connected .Email-field input::placeholder{font-size: 14px;}
    .Blog-view .stay-Connected .form-check label{font-size: 14px;line-height: normal;}
    .core-values .heading:before{font-size:100px;letter-spacing: 100px;top:-65%}
    .core-values .heading{font-size: 45px;margin-bottom: 50px;}
    .Key-benefits .heading{font-size: 20px;font-weight: 400px;}

    .main_banner{ padding-bottom: var(--section-gap);}
}

@media (max-width:991px){
     .mobile-logo{display: block;}
    .desktop-logo{display: none;}
    .nav-link{ display: none;}
    .navigation{position: relative;}
    .nav-link.open{ display: block;}
    .nav-link.open ul>li {padding: 10px 0; font-size: 14px; }
    .nav-link.open ul{ display: block;
        position: absolute;
        top: 40px;
        left: 25px;
        z-index: 9;
        transition: .5s;
        border: 1px solid transparent;
        border-image: linear-gradient(175deg, rgba(226,89,21,1) 0%, rgba(104,74,98,1) 54%, rgba(42,61,112,1) 100%);
        border-image-slice: 1;
        border-radius: 12px;
        background-color: var(--gradient-bg);
        min-width: 170px;z-index: 99;}
    .nav-link.open ul:before {
        content: "";
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        position: absolute;
        display: block;
        background-color: var(--light);
        border-radius: 12px;
    }
    .dark .nav-link.open ul:before  {background-color: var(--gradient-bg);} 
    .nav-link.open ul>li .subMenu.subMenuOpen {display: block;}
    .nav-link.open ul>li .subMenu.subMenuOpen li a{margin: 0 .5rem;font-size: 14px;}
    .nav-link ul>li:hover .subMenu{display: none;}
    .case-study, .how-brabo{ text-align: center;}
    .case-study p, .case-study span{ width: auto;}
    .case-study span, .how-brabo span{ display: block;}
    .case-study .contant a, .how-brabo .contant a, .our-people .contant a{ display: none;}
    .how-brabo .how-brabo-img{ border: none;}
    .unlock-your-data h2{  font-size: 40px;  line-height: normal;}
    .help-us p br{ display: none;}
    .hide-button{ display: inline-block;}
    .desktop-logo{display: none;}
    .mobile-logo{display: flex;}
    .Schedule-Demo-img, .our-people .our-people-img{text-align: center;}
    .Schedule-Demo-img img, .our-people .our-people-img img{width: 100%;}
    .sustainabilit-application-banner h2, .brabo-sustainabilit-applications h2{font-size: 34px;}
    .sustainabilit-application-banner p {font-size: 26px;}
    .sustainabilit-application-banner .text-light, .Become-Partner .text-hard{font-size: 20px;line-height: normal;}
    .what-you-need .sub-heading {font-size: 20px;font-weight: 400;}
    .partners .partners-box { padding: 30px; }
    
    /* qwerty */
    .main-circle-slider{display: none;}
}

@media (max-width:767px){
    .nav-button .btn:hover{min-width: inherit;}
    
    .main_banner{padding-top: 0;}
    :root{
        --section-gap: 40px;
    }
    
    .form-control::placeholder{font-size: 14px;}
    .form-control:not(textarea), .dark .gradient-border textarea{padding: 20px;}
    .filter-by select{font-size: 14px;height: 44px;padding: 10px 15px;}
    .banner-logo {margin-bottom: 1rem;justify-content: center;}
    .nav-button .btn {min-width: 100px; font-size: 12px; }
    
    .btn:hover{min-width: 180px;}
    h2, .how-brabo h2, .case-study h2, .Continuous-Innovation h2, .unlock-your-data h2, .help-us h2, .Stay-connected h2
    , .what-you-need h2, .View-Resources-banner h2 {font-size: 26px; line-height: normal;}
    .business-value h2, .Platform-Affordability h2, .follow-us-linkedin h2{font-size: 38px;}
    .case-study p, .case-study span, .unlock-your-data p, .Stay-connected p{font-size: 18px;line-height: normal;}
    .Continuous-Innovation p, .Continuous-Innovation span, .Platform-Affordability p, .Stay-connected span{font-size: 16px;line-height: 1.6;}
    .Continuous-Innovation-img {border-right: none;}
    .Continuous-Innovation .contant { margin-left: 0;}
    .follow-us-linkedin .owl-carousel .owl-nav span.custom-next{margin-right: 0;}
    .follow-us-linkedin .owl-carousel .owl-nav span.custom-prev {margin-left: 0px;}
    .Stay-connected label, .give-live-demo .form-check label {font-size: 14px;line-height: normal;}
    .help-us p{text-align: center;}
    .help-us .box-center {border-right: none;border-left: none;}
    .services .owl-carousel .owl-item .business-value-slider{justify-content: flex-start;}
    footer .links ul li{margin-bottom: 5px;}
    .footer-bottom{padding: 3rem 0 1.5rem;}
    .social-media{justify-content: flex-start;margin-top: 1rem;}
    .sustainabilit-application-banner p{font-size: 28px;}
    .icon img {width: 80px;}
    .sustainabilit-application-banner h2, .brabo-sustainabilit-applications h2, .policy-pages-content h2{font-size: 30px;}
    .language-swichter select, .language-swichter .fa-globe{font-size: 14px;}
    header{padding-top: 10px;padding-bottom: 10px;}    
    .our-people .sub-heading{font-size: 20px;}
    .team-popup figure { flex: 0 100%;max-width: 100%;}
    .btn-close{right: 0;top: 0;}
    .Become-Partner h2:before{font-size: 40px;letter-spacing: 10;}
    .business-value .gredient-line .line6 {bottom: -40%;right: 4%;}
    .business-value .gredient-line .line5 {bottom: 0%;right: 4%;}
    .business-value .gredient-line .line4 {top: -55%;right: -4%;}
    .business-value .gredient-line .line3 {bottom: -10%;left: 20%;}
    .business-value .gredient-line .line2 {top: 0%;left: -6%;}
    .business-value .gredient-line .line1 {top: -50%;left: -20%;}
    .animation-line .line6 {bottom: 16%; right: 0; }
    .animation-line .line5 { top: 50%; right: 0%; }
    .animation-line .line4 {top: -30px;left: 20%; }
    .animation-line .line3 { top: 0; right: 0%;}
    .animation-line .line2 {bottom: 20%;left: 0;}
    .animation-line .line1 { top: 0;}
    .Knowledge-Hub-banner p{font-size: 16px;}
    .filter-by h2{font-size: 32px;}
    .our-Blog .recent{padding-left: calc(var(--bs-gutter-x) * .5);}
    .Blog-view .stay-Connected{display: none;}
    .Key-benefits .benefits-box{max-width: 60%;margin: auto;}

    .main_banner .center .item{ transform: scale(1.5);}
    .main_banner .owl-carousel .owl-stage{ height: 300px;}
    .Blog-about-author figure{width: 100px;height: 100px;}
    .Blog-about-author figure img {width: 100px;height: 100px;}
}

@media (max-width:480px){
    p{font-size: 14px;}
    .services .owl-carousel .owl-item img{height: 200px;}
    .business-value h2, .Platform-Affordability h2, .follow-us-linkedin h2 {font-size: 30px;line-height: normal;
    }
    .sustainabilit-application-banner h2, .brabo-sustainabilit-applications h2, .policy-pages-content h2 {font-size: 26px;}
    .sustainabilit-application-banner p {font-size: 20px; }
    .btn, .unlock-your-data .btn{font-size: 14px;}
    .unlock-your-data .btn{padding: 20px;}
    .services .owl-carousel .owl-item .content {padding: 20px 10px;}
    .footer-bottom ul li a, footer p{font-size: 14px;}
    .icon img {width: 50px;}
    .Key-benefits .benefits-box {padding: 20px 16px;}
    .Key-benefits .heading{font-size: 22px;}
    .footer-bottom ul li a svg {width: 32px;}
    .business-value .gredient-line .line, .animation-line .line, .Platform-Affordability .gredient-line .line{
        transform: scale(0.35);
    }
    .business-value .gredient-line .line1{top: -30%;}
    .business-value .gredient-line .line4{top: -20%;}
    .business-value .gredient-line .line6{bottom: -45%;}
    .business-value .gredient-line .line2{top:8%;}
    .about-us-banner .btn {min-width: 130px;}
    .main_banner .center .item {  transform: scale(2); }
}

@media (max-width:320px){

}



/* Dark light Mode */
.nav-button {display: flex;align-items: center; gap: 25px;}
.dark .dark-light i.fa-sun{background-color: transparent;}
.dark-light i.fa-sun{color: var(--white);}
.dark-light i{
    position: relative;
    top: 0px;border-radius: 50%;
    font-size: 14px;
    width: 25px;
    height: 25px;line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center; background-color: var(--primary);
}
.dark .dark-light i.fa-moon {
    background-color: var(--primary);
 }
.dark-light i.fa-moon {
    background-color: transparent;
 }
.dark .dark-light i{color: var(--white);}
.btn-color-mode-switch{
    display: inline-block;
    margin: 0px;
    position: relative;
}
.btn-color-mode-switch > label.btn-color-mode-switch-inner{
    padding: 5px 12px;
    background: var(--white);
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: flex;justify-content: space-between;align-items: center;border: 1px solid var(--primary);
}
.dark .btn-color-mode-switch > label.btn-color-mode-switch-inner{border: 1px solid transparent;}
.btn-color-mode-switch > .alert{
    display: none;
    background: #FF9800;
    border: none;
    color: #fff;
}
.btn-color-mode-switch input[type="checkbox"]{
    cursor: pointer;
    width: 0px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}
.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    background: #484646;
    color: #fff;width: 80px;
}
.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
    display: block;
}
@media (max-width:767px){
    .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{width: 52px;}
    .dark-light i{width: 20px;height: 20px;font-size: 10px;}
    .btn-color-mode-switch > label.btn-color-mode-switch-inner{padding: 2px 5px;}
    
}
/* Dark light Mode */
/* Language Swichter */
.language-swichter { margin-top: 6px;}
.language-swichter select{background-color: transparent;border: none;font-size: 16px;}
.dark .language-swichter select{color:var(--white);}
.dark .language-swichter select option{color: var(--black);}
.dark .language-swichter select:focus-visible {outline: none;}
.dark .DataUnlock_dark{display:block;margin: auto;}
.DataUnlock_dark{display:none}
.dark .DataUnlock_light{display:none}
.DataUnlock_light{display:block;margin: auto;}
